workflow/Meeting Transcript to Slides Test.json
{
  "name": "Meeting Transcript to Slides Test",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "db619c96-7a72-4420-9f88-113a95462bbf",
              "name": "transcript",
              "value": "Synthetic Transcript – Retail AI Automation Discovery Call  Company: BrightLane Retail Industry: Multi-location specialty retail / home goods / seasonal decor Meeting Length: ~20 minutes Participants: - Sarah Kim (CEO, BrightLane Retail) - Marcus Lee (Director of Operations, BrightLane Retail) - Tina Patel (Ecommerce & Customer Experience Manager, BrightLane Retail) - Alex Rivera (AI Automation Specialist / Consultant)  [00:00] Alex: Thanks, everyone, for making time today. I know we’ve only got about 20 minutes, so maybe we can keep this pretty practical. My goal is really to understand where the biggest operational pain points are, what’s repetitive, what feels manual, and where an AI-enabled workflow might realistically help without creating a giant IT project. Does that sound right?  [00:18] Sarah: Yeah, that’s exactly right. We are not looking for some huge enterprise transformation. We’re a growing retail company, but we’re still pretty lean. We have 14 stores, an ecommerce site, and a small corporate team, so we need things that are useful and not overly expensive.  [00:36] Alex: Perfect. Why don’t we start with the business at a high level. Sarah, maybe just a quick overview of BrightLane and where you feel the friction most.  [00:45] Sarah: Sure. BrightLane sells home goods, gifts, seasonal decor, and some private-label products. We’ve grown pretty fast over the last two years. That’s been great, but a lot of our processes still work like we’re a five-store business. So I’d say our biggest issues are internal reporting, inventory coordination, and customer service follow-up. We’ve layered tools on top of tools and now people are doing a lot of manual copying, checking, summarizing, emailing, that kind of thing.  [01:12] Alex: Got it. And when you say internal reporting, what does that actually look like today?  [01:18] Marcus: Honestly, kind of ugly. Every Monday I pull store performance data from our POS, then I pull ecommerce metrics from Shopify, and then I try to combine that with inventory notes from store managers. We also track labor in another system. None of it lives together. So I usually spend like three or four hours every Monday morning just assembling a “what happened last week” report for leadership.  [01:44] Alex: And that report is going to who?  [01:46] Marcus: Sarah, finance, district managers, and sometimes merchandising depending on what’s going on.  [01:53] Alex: And is it mostly quantitative reporting or are you also adding written commentary?  [01:58] Marcus: Both. That’s part of the problem. The numbers are one piece, but then store managers send emails or fill out forms with things like “we ran out of this item,” “customers kept asking for this,” “foot traffic was weird because of weather,” “we had a staffing issue on Saturday,” and I’m trying to summarize all that into something useful.  [02:18] Sarah: And a lot of that context matters more than the raw sales number by itself.  [02:22] Alex: Yeah, that makes sense. Tina, what about on the customer side?  [02:27] Tina: Customer support and customer experience are messy in a different way. We get inquiries from email, website chat, and social DMs. A lot of them are pretty repetitive. Things like “where’s my order,” “when will this item be back in stock,” “can I return in-store if I bought online,” “do you have this in blue,” stuff like that. My team answers most of it manually. We do use templates, but not in a smart way. So we still have people reading, triaging, routing, and rewriting the same answers over and over.  [02:58] Alex: Roughly how much volume are you talking?  [03:01] Tina: Depends on seasonality. Normal month maybe 1,500 to 2,000 customer messages across channels. Holiday months a lot more. And not everything should be automated, obviously, but I think maybe half to two-thirds are repetitive enough that a better workflow could help.  [03:18] Alex: Okay, that’s meaningful volume. What systems are currently in play across the business?  [03:24] Marcus: Shopify for ecommerce. Our POS is Lightspeed in stores. We use Gorgias for customer support. Slack internally. Google Workspace for docs and sheets. Some managers still email instead of using the form we created. We’ve got a few reports in Looker Studio, but they’re not really the source of truth. And inventory is… semi-centralized. We have one inventory planning tool, but it’s not very well adopted.  [03:50] Sarah: That’s a nice way of saying it.  [03:52] Marcus: Yeah.  [03:54] Alex: No worries, this is very normal. Are there any hard constraints I should know? Security, compliance, budget, team skill set, anything like that?  [04:04] Sarah: Budget matters. I’m not opposed to paying for something useful, but I do not want a bloated system with five subscriptions and a consultant dependency forever. We’d prefer something our ops team can actually understand. We don’t have internal engineers. We have one technically savvy operations analyst, but that’s about it.  [04:23] Tina: And brand voice matters a lot if anything is customer-facing. We don’t want robotic responses going out to customers without some control.  [04:31] Alex: Makes sense. Human review for external responses is totally reasonable, especially in phase one. Marcus, if you could wave a magic wand and automate one thing first, what would it be?  [04:42] Marcus: Weekly reporting, easily. If I could upload or connect the sales, support, and store notes data and have something generate a leadership summary with red flags, trends, and recommended follow-ups, that would save real time and probably improve quality.  [04:58] Alex: How do store notes come in right now?  [05:00] Marcus: Mostly a Google Form that goes to a Sheet, but some people still send emails or Slack messages. So I’m consolidating multiple formats.  [05:09] Alex: Okay. That’s actually a good use case because even semi-structured notes can be normalized. Sarah, what would make that weekly report feel valuable instead of just “faster”?  [05:19] Sarah: Good question. I’d want it to do more than summarize. I’d want it to flag what matters. Like, don’t just tell me Store 8 sales were down 7%. Tell me that Store 8 was down, they also had two staffing callouts, and three managers mentioned low stock in a high-margin item, so maybe that’s the issue. I want prioritization, not just compression.  [05:42] Alex: That’s helpful. So not just summarization, but synthesis and maybe some light reasoning.  [05:47] Sarah: Exactly. And ideally, not hallucinated nonsense.  [05:50] Alex: Fair. Very fair.  [05:53] Tina: And on the support side, my dream would be something that reads incoming messages, categorizes them, drafts a response using our approved policies and brand tone, and either auto-sends for very low-risk stuff or puts it in a queue for review.  [06:10] Alex: Do you have documentation already for policies like returns, exchanges, shipping, damaged goods?  [06:15] Tina: Yes, but it’s scattered. Some in help center articles, some in internal docs, some kind of tribal knowledge.  [06:23] Alex: That’s common. The nice thing is that’s fixable. If we were designing this in phases, I’d probably separate internal operations reporting from customer-facing automation so we don’t mix risk levels too early.  [06:35] Sarah: That sounds smart. I do not want the first project to accidentally email customers the wrong thing.  [06:40] Alex: Totally. So let me pressure test value. Marcus, how many hours per month do you think are spent on weekly reporting and related follow-up?  [06:48] Marcus: For me personally, maybe 15 to 20 hours a month. Then probably another 8 to 10 hours across district managers and merchandising because they’re clarifying things after the report goes out.  [07:00] Alex: So maybe 25 to 30 hours of management time monthly on that process.  [07:05] Marcus: Yeah, that feels right.  [07:07] Alex: Tina, for support, how many hours would you estimate are spent on repetitive first-pass handling?  [07:13] Tina: A lot. Probably 60 to 80 hours a month conservatively, maybe more during peak. Not all of that disappears with automation, but even a 25% reduction would matter.  [07:24] Alex: Right. Especially if it improves consistency. Are there any upcoming business events or deadlines making this more urgent?  [07:31] Sarah: We have holiday planning starting in about three months. I’d really like some kind of internal reporting automation in place before then, because Q4 is where all the cracks show up. If the customer service piece comes later, that’s fine, but the internal summary and action recommendations would be immediately useful.  [07:50] Alex: That’s good prioritization. So if we were keeping phase one narrow, I’m hearing something like: ingest meeting recordings and weekly operational data, transcribe and summarize the meeting, extract key decisions, combine with uploaded reports or notes, then generate an executive summary, objectives, action items, and maybe a simple slide deck or email for leadership. Does that track?  [08:12] Marcus: Yes, that’s very close to what I’d want.  [08:15] Sarah: And rough cost visibility. Like if it notices something is broken, I want to know the likely impact or at least where we should investigate. It doesn’t need to be perfect, but some rough business framing would be helpful.  [08:27] Alex: Interesting. So maybe not true financial modeling, but maybe rules-based estimates or impact bands.  [08:32] Sarah: Exactly. “Potential revenue impact,” “potential staffing cost issue,” that sort of thing.  [08:37] Alex: Got it. And on the meeting side specifically, are these mostly leadership calls, store ops calls, or vendor meetings?  [08:44] Marcus: Usually weekly leadership calls and ops reviews. They’re on Google Meet most of the time. Sometimes Zoom. People leave with action items, but then there’s always disagreement afterward about what was actually decided.  [08:56] Tina: Yes. We definitely have the classic “I thought Marcus was doing that” problem.  [09:01] Marcus: That is true.  [09:03] Alex: Okay, that’s actually a very good starting use case because meeting summarization plus action-item extraction is relatively contained. Are recordings already available automatically?  [09:12] Marcus: Sometimes. Not always. We can turn it on more consistently if needed.  [09:16] Alex: And would you be okay with a workflow where someone uploads the video or audio plus maybe a spreadsheet or notes file into a folder, then the system processes it and outputs a summary package?  [09:28] Sarah: Yes. That’s fine for a first version. It does not need to be magical. It just needs to save time and produce something useful.  [09:35] Alex: Love that. That’s the right attitude for phase one. In terms of output format, what would leadership actually consume? Email, slide deck, PDF, dashboard?  [09:44] Sarah: Email first. Slides second. Dashboard maybe eventually, but I don’t think we need to start there.  [09:50] Marcus: Agreed. If it could output a concise email and a 4- or 5-slide deck template, that would be great.  [09:56] Tina: And if the deck could be editable, even better. Like Google Slides or PowerPoint, not something flattened.  [10:03] Alex: Yep, that’s very doable.  [10:10] Marcus: Messy. Different naming conventions, different managers, occasional typos, inconsistent structure in comments.  [10:17] Alex: Okay. That suggests we’d want a workflow with explicit preprocessing and maybe some validation before sending everything into a language model. Are there any metrics you always care about in the weekly view?  [10:29] Sarah: Sales by store, comp trends if possible, top out-of-stock items, returns spikes, staffing issues, and major customer complaints or recurring themes.  [10:41] Tina: On the customer side, I’d add response time, refund requests, damaged shipment mentions, and product confusion. We often learn that product pages are unclear because support gets flooded with the same question.  [10:52] Alex: That’s a great feedback loop opportunity actually. Support as a source of merchandising and ecommerce insight.  [10:58] Sarah: Exactly. Right now those insights are trapped in inboxes.  [11:03] Alex: Okay. And who would own the workflow internally once it exists?  [11:07] Marcus: Probably operations initially. With Tina contributing on the support taxonomy if we expand into that area.  [11:14] Alex: And do you prefer low-code tools where possible, or are you open to a lightweight custom application if it reduces recurring costs?  [11:21] Sarah: I’d say practical over ideological. Low-code is fine if it’s stable and not ridiculously expensive. Lightweight custom is fine if it’s maintainable by someone who didn’t build it.  [11:32] Alex: Good answer. So maybe a hybrid. Something like cloud storage, transcription API, LLM summarization, and a thin orchestration layer. Possibly no-code or low-code for notifications and routing, depending on the stack.  [11:45] Marcus: That sounds reasonable. I don’t need fancy. I need dependable.  [11:49] Alex: That should be on a T-shirt.  [11:52] Sarah: Yes.  [11:54] Alex: Let’s talk budget range just loosely, because that tends to narrow architecture choices. Are you imagining a few hundred a month, low thousands, or more?  [12:03] Sarah: For an initial workflow, I’d like software costs to stay under maybe $1,500 per month if possible, excluding one-time setup. If it proves real ROI, then obviously we can expand.  [12:15] Alex: That’s helpful. That budget is workable for a narrowly scoped phase one. Especially if volume is around, say, 20 meetings a month plus some reporting documents.  [12:24] Marcus: Yeah, that’s about right. Maybe 20 to 25 meetings that matter enough to process.  [12:29] Alex: And average meeting length?  [12:31] Marcus: Usually 30 to 60 minutes. The weekly leadership one is around 45.  [12:36] Alex: Great. That’s manageable. One thing I’d likely recommend is keeping the workflow very auditable. Meaning transcript stored, extracted action items stored, source links attached, and maybe a confidence note where the model is less certain. Would that be useful?  [12:51] Sarah: Yes, a lot. I don’t want black-box outputs. I want people to be able to say, “why is this recommendation here?” and trace it back.  [12:59] Tina: Especially if the tool starts suggesting actions based on support tickets or meeting discussion. It needs to show its work, basically.  [13:07] Alex: Exactly. And for the slide deck, do you want it visually polished or just clear and editable?  [13:12] Sarah: Clear and editable. Nobody needs AI-generated art here.  [13:16] Alex: Music to my ears. Okay, so if I were mapping a first version, I’d likely say: user uploads recording and optional supporting documents into a folder, automation triggers transcription, transcript and documents are cleaned and chunked, model generates summary, objectives, action items, and estimated business impact, then outputs an email draft and a short slide deck. A human reviews, edits if needed, and sends. Does that feel aligned?  [13:42] Marcus: Yes.  [13:43] Tina: Yep.  [13:44] Sarah: Yes, as long as the recommendations are grounded enough to be useful.  [13:49] Alex: Understood. I’d probably handle that by combining prompt instructions with simple business rules. So for example, if out-of-stock mentions exceed a threshold and sales are down in the same category, the workflow can flag that as a likely merchandising issue rather than pretending the model has magical certainty.  [14:07] Sarah: That’s good. I like the combination of AI plus rules. I don’t want “AI intuition” without evidence.  [14:13] Alex: Very fair. What would success look like 60 days after launch?  [14:18] Marcus: For me, cutting my Monday reporting time in half, at least. And having leadership trust the output enough that they rely on it.  [14:26] Tina: For me, success would be getting cleaner visibility into recurring support themes, even before we automate responses. I think that alone would help us fix problems upstream.  [14:36] Sarah: For me it’s two things: time savings and better decisions. If this just makes busywork faster, that’s nice, but I’d really like it to improve prioritization.  [14:47] Alex: That’s a strong framing. Are there any reasons this would fail internally? Adoption, messy process ownership, lack of discipline around uploads?  [14:56] Marcus: Yes to all of those, honestly. The biggest issue is consistency. If managers don’t use the agreed format or don’t upload materials on time, the workflow won’t have good inputs.  [15:08] Sarah: But that’s also why I think a meeting-based workflow is a good starting point. Fewer people involved, more controlled inputs.  [15:14] Alex: I agree. Start where the signal is strongest. Then expand outward.  [15:18] Tina: And maybe use that first project to build trust before we touch anything customer-facing.  [15:23] Alex: Exactly. One more question on infrastructure preferences. Do you care whether this lives in Google, Microsoft, AWS, something else?  [15:31] Marcus: No strong preference from me.  [15:34] Sarah: We’re already deep in Google Workspace operationally, so if outputs can land there easily, that helps. But I care more about reliability than brand.  [15:43] Alex: That’s fair. So Google Drive or a shared folder for intake and outputs may be the simplest UX, even if the processing happens elsewhere.  [15:50] Sarah: Right.  [15:51] Alex: Would you want the final output also posted into Slack?  [15:54] Marcus: Yes, probably a notification to a leadership channel saying the summary package is ready.  [16:00] Alex: Easy enough. Are there any approval requirements? Like should the email or deck always require Marcus or Sarah approval before distribution?  [16:08] Sarah: Yes. At least initially. I would say human approval is mandatory before anything goes out broadly.  [16:15] Alex: Perfect. That lowers risk. Let me summarize back what I’m hearing and you can tell me if I missed anything. BrightLane wants a practical AI automation workflow, likely starting with recorded leadership or operations meetings. The system should transcribe the meeting, generate an executive summary, identify top objectives, extract action items and next steps, and ideally incorporate supporting notes or metrics where available. It should then produce an email-friendly output and a short editable slide deck. The company values cost control, explainability, human review, and maintainability. Longer term, there is a second opportunity around customer support triage and drafted responses, but phase one should focus on internal operations reporting and meeting intelligence. Did I get that right?  [16:59] Sarah: Yes, that’s very accurate.  [17:01] Marcus: Yep.  [17:02] Tina: That captures it.  [17:04] Alex: Great. In terms of next steps, I’d probably propose a small proof of concept around one recurring meeting type. Maybe take three historical meeting recordings, plus any notes or related weekly reports, and test how well the workflow can produce consistent summaries and action-item extraction. Then we’d evaluate quality, cost, and where humans need to stay in the loop.  [17:25] Sarah: That sounds right. I’d also want some very basic cost estimate before we commit, even if it’s directional.  [17:31] Alex: Absolutely. I can put together something with a lightweight architecture option and maybe one slightly more scalable option so you can compare.  [17:39] Marcus: And if possible, call out likely failure points. Like poor transcript quality, inconsistent naming, duplicated action items, that kind of thing.  [17:47] Alex: Definitely. Those are exactly the things to surface early. Any must-have deliverables from your perspective besides the summary and deck?  [17:55] Sarah: I’d like the three recommended actions to be really business-oriented, not generic. So not “improve communication.” More like “investigate Store 8 stockout pattern in bedding category,” that kind of thing.  [18:06] Alex: Specific, grounded, and operational. Got it.  [18:10] Tina: And for the future support use case, if you could maybe note what would be needed to expand into that later, that would help me make the internal case.  [18:18] Alex: Sure. I can include that as a phase-two note. Anything else before we wrap?  [18:24] Marcus: I think that covers it.  [18:26] Sarah: No, this was good. I appreciate that you’re thinking about something practical versus a science project.  [18:32] Alex: That is always the goal. I’ll follow up with a simple architecture, rough monthly costs, a proof-of-concept recommendation, and some notes on risks and assumptions. Thanks, everyone.  [18:42] Tina: Thanks.  [18:43] Marcus: Thanks, Alex.  [18:44] Sarah: Thanks.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        0
      ],
      "id": "c06aa2ed-45c3-45e7-9dfc-e3f181463c3b",
      "name": "Set Transcript Input"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "id"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "=You are an expert business meeting analyst.\nExtract structured information from the transcript provided by the user.\n\nSTRICT RULES — follow all of them exactly:\n1. Use ONLY information explicitly stated in the transcript.\n2. Never invent facts, names, owners, due dates, budgets, or decisions.\n3. If a required field is unclear or absent, use the string \"unknown\".\n4. For optional array fields with no data, return an empty array [].\n5. Do not add keys, rename keys, or change the JSON structure.\n6. Return valid JSON only — no markdown fences, no comments, no preamble.\n7. If a count constraint (e.g. \"exactly 3\") cannot be met with transcript evidence, derive the most reasonable items from the discussion context — but never fabricate specific names, dates, or figures."
            },
            {
              "content": "=Analyze the meeting transcript below and return exactly this JSON structure. Do not deviate from it.\n\n{\n  \"meeting_title\": \"\",\n  \"executive_summary\": \"\",\n  \"high_level_objectives\": [\n    { \"title\": \"\", \"description\": \"\" }\n  ],\n  \"action_items\": [\n    { \"task\": \"\", \"owner\": \"\", \"due_date\": \"\", \"priority\": \"\" }\n  ],\n  \"next_steps\": [\n    { \"step\": \"\", \"owner\": \"\", \"timing\": \"\" }\n  ],\n  \"risks_or_open_questions\": []\n}\n\nFIELD RULES:\n- meeting_title: short title inferred from the discussion topic.\n- executive_summary: 80–140 words, business-ready language, no bullet points.\n- high_level_objectives: exactly 3 items. Derive from discussion context if not explicit.\n- action_items: exactly 3 items. Prioritize explicitly assigned tasks; derive if needed.\n  - priority values: \"high\" | \"medium\" | \"low\"\n  - due_date: ISO 8601 (YYYY-MM-DD) if stated, otherwise \"unknown\"\n- next_steps: 3 to 5 items. Ordered by logical sequence.\n- risks_or_open_questions: list unresolved issues or stated risks as plain strings. Empty array [] if none.\n\nTRANSCRIPT:\n{{ $json.transcript }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_object"
            }
          },
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        832,
        0
      ],
      "id": "db2964d2-6096-4fc9-8423-fc2fe4f6be07",
      "name": "AI - Meeting Analysis",
      "credentials": {
        "openAiApi": {
          "id": "BkphAKWSEwq259tf",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw =\n  $json.output ||\n  $json.text ||\n  $json.response ||\n  $json.content ||\n  $json.message ||\n  JSON.stringify($json);\n\nlet parsed;\n\ntry {\n  parsed = typeof raw === 'string' ? JSON.parse(raw) : raw;\n} catch (e) {\n  throw new Error('Meeting analysis is not valid JSON. Raw output: ' + raw);\n}\n\nreturn [\n  {\n    json: {\n      transcript: $('Set Transcript Input').first().json.transcript,\n      meeting_analysis: parsed\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1184,
        0
      ],
      "id": "786c86f8-b21e-4269-ae8a-9a263a2193cc",
      "name": "Parse Meeting Analysis"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You are a presentation content strategist specializing in executive business decks.\n\nYour sole task: transform structured meeting data into slide-ready JSON content.\n\nBEHAVIOR RULES:\n- Output ONLY valid JSON. No preamble, explanation, or markdown fences.\n- Never invent, infer, or extrapolate facts not present in the meeting data.\n- If a field cannot be filled from the data, use \"\" for strings or omit the row — never fabricate.\n- Maintain a formal, executive business tone throughout.\n- All bullets must be self-contained, scannable, and action-oriented.\n- Preserve the exact JSON schema provided — no added or removed keys."
            },
            {
              "content": "=Transform the meeting analysis below into slide content following the schema and rules exactly.\n\nOUTPUT RULES (non-negotiable):\n- Return ONLY the JSON object. No markdown, no explanation, no ```json fences.\n- Validate your output mentally before returning: check slide count, bullet counts, and row counts.\n- Every bullet must be ≤ 18 words and start with a capital letter.\n- Bullets must be declarative statements, not questions or vague phrases.\n- Priorities must be exactly one of: \"High\" | \"Medium\" | \"Low\"\n- due_date: use exact date from data (e.g. \"2025-06-15\") or \"TBD\" if not mentioned.\n- owner: use the name/role mentioned in the data, or \"TBD\" if unspecified.\n\nREQUIRED SCHEMA:\n{\n  \"deck_title\": \"<string>\",\n  \"slides\": [\n    {\n      \"slide_type\": \"title\",\n      \"title\": \"<string>\",\n      \"subtitle\": \"<string>\"\n    },\n    {\n      \"slide_type\": \"executive_summary\",\n      \"title\": \"Executive Summary\",\n      \"bullets\": [\"<string>\", \"...\"]  // 3 to 5 bullets\n    },\n    {\n      \"slide_type\": \"objectives\",\n      \"title\": \"High-Level Objectives\",\n      \"bullets\": [\"<string>\", \"<string>\", \"<string>\"]  // exactly 3 bullets\n    },\n    {\n      \"slide_type\": \"action_items\",\n      \"title\": \"Action Items\",\n      \"table_rows\": [  // exactly 3 rows\n        {\"task\": \"<string>\", \"owner\": \"<string>\", \"due_date\": \"<string>\", \"priority\": \"<High|Medium|Low>\"},\n        {\"task\": \"<string>\", \"owner\": \"<string>\", \"due_date\": \"<string>\", \"priority\": \"<High|Medium|Low>\"},\n        {\"task\": \"<string>\", \"owner\": \"<string>\", \"due_date\": \"<string>\", \"priority\": \"<High|Medium|Low>\"}\n      ]\n    },\n    {\n      \"slide_type\": \"next_steps\",\n      \"title\": \"Next Steps\",\n      \"bullets\": [\"<string>\", \"...\"]  // 3 to 5 bullets\n    }\n  ]\n}\n\nSLIDE CONSTRAINTS SUMMARY:\n| Slide              | Field        | Count     |\n|--------------------|--------------|-----------|\n| executive_summary  | bullets      | 3–5       |\n| objectives         | bullets      | exactly 3 |\n| action_items       | table_rows   | exactly 3 |\n| next_steps         | bullets      | 3–5       |\n\nMeeting analysis:\n{{ JSON.stringify($json.meeting_analysis) }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_object"
            }
          },
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        1392,
        0
      ],
      "id": "0c305a4a-694b-4909-82d9-30f55bee819e",
      "name": "AI - Deck Content",
      "credentials": {
        "openAiApi": {
          "id": "BkphAKWSEwq259tf",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw =\n  $json.output ||\n  $json.text ||\n  $json.response ||\n  $json.content ||\n  $json.message ||\n  JSON.stringify($json);\n\nlet parsed;\n\ntry {\n  parsed = typeof raw === 'string' ? JSON.parse(raw) : raw;\n} catch (e) {\n  throw new Error('Deck content is not valid JSON. Raw output: ' + raw);\n}\n\nreturn [\n  {\n    json: {\n      transcript: $('Set Transcript Input').first().json.transcript,\n      meeting_analysis: $('Parse Meeting Analysis').first().json.meeting_analysis,\n      deck_content: parsed\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1744,
        0
      ],
      "id": "e2f96658-bd3b-4f5a-a849-3cc6a58d21e7",
      "name": "Parse Deck Content"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You are a quality reviewer for AI-generated meeting outputs.\n\nYour job is to verify that the meeting analysis and deck content are:\n1. Complete — all required fields and sections are present\n2. Consistent — content does not contradict itself across documents\n3. Grounded — every factual claim is traceable to the transcript\n\nRules:\n- If a claim cannot be verified against the transcript, mark it as unsupported\n- Do not infer, assume, or fill in missing data — flag it\n- Return ONLY valid JSON, with no explanation, preamble, or markdown fences"
            },
            {
              "content": "=Review the three documents below against the source transcript. Apply every validation rule and return the result as JSON.\n\n## Output schema\nReturn exactly this structure:\n{\n  \"pass\": boolean,\n  \"score\": integer (0–100),\n  \"issues\": [\n    {\n      \"field\": string,\n      \"severity\": \"critical\" | \"warning\",\n      \"description\": string\n    }\n  ],\n  \"fixes_needed\": [\n    {\n      \"field\": string,\n      \"instruction\": string\n    }\n  ]\n}\n\n## Validation rules\n\n### meeting_analysis\n- [ ] executive_summary is present and non-empty\n- [ ] high_level_objectives contains exactly 3 items\n- [ ] action_items contains exactly 3 items, each with an owner and due date\n- [ ] next_steps is present and non-empty\n- [ ] No claim contradicts or is absent from the transcript\n\n### deck_content\n- [ ] Contains sections: title slide, problem statement, proposed solution, next steps\n- [ ] All statistics or assertions are supported by the transcript\n\n### General\n- [ ] Content is concise and business-appropriate\n- [ ] No internal contradictions across the three documents\n\n## Scoring\n- Start at 100\n- Deduct 20 per critical issue (missing required field, unsupported claim)\n- Deduct 5 per warning (style, brevity, minor inconsistency)\n- Set \"pass\" to true only if score >= 70 and zero critical issues\n\n## Source documents\n\n### Transcript\n{{ $json.transcript }}\n\n### Meeting analysis\n{{ JSON.stringify($json.meeting_analysis) }}\n\n### Deck content\n{{ JSON.stringify($json.deck_content) }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_object"
            }
          },
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        1952,
        0
      ],
      "id": "99cc531a-bd7c-4144-97d5-cb1cd84d8931",
      "name": "AI - QA Check",
      "credentials": {
        "openAiApi": {
          "id": "BkphAKWSEwq259tf",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw =\n  $json.output ??\n  $json.text ??\n  $json.response ??\n  $json.content ??\n  $json.message ??\n  JSON.stringify($json);\n\nlet parsed;\n\ntry {\n  parsed = typeof raw === 'string' ? JSON.parse(raw) : raw;\n} catch (e) {\n  throw new Error('QA output is not valid JSON. Raw output: ' + raw);\n}\n\nfunction getNodeJson(nodeName, fieldName) {\n  try {\n    return $(nodeName).first().json[fieldName];\n  } catch (e) {\n    throw new Error(`Could not read field \"${fieldName}\" from node \"${nodeName}\". Check that the node exists, has executed, and the name matches exactly. Original error: ${e.message}`);\n  }\n}\n\nreturn [\n  {\n    json: {\n      transcript: getNodeJson('Set Transcript Input', 'transcript'),\n      meeting_analysis: getNodeJson('Parse Meeting Analysis', 'meeting_analysis'),\n      deck_content: getNodeJson('Parse Deck Content', 'deck_content'),\n      qa_result: parsed\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2304,
        0
      ],
      "id": "3e25f28e-4d0c-4525-9bcf-113bffa406ab",
      "name": "Parse QA"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0c087457-da9a-40f4-aeba-20fc653548c6",
              "leftValue": "={{ $json.qa_result[0].content[0].text.pass }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "9dbd4a50-d3d1-4512-a3e1-aa3b4b7b46ce",
              "leftValue": "={{ $json.qa_result[0].content[0].text.score }}",
              "rightValue": 70,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2512,
        0
      ],
      "id": "df8a25ff-890c-4966-9f09-381d97b2e6ff",
      "name": "QA Passed?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "eda86bd6-e344-4138-86c6-0bd037be987f",
              "name": "status",
              "value": "failed",
              "type": "string"
            },
            {
              "id": "978811ee-6501-42d1-bc5c-ef71667a5ecb",
              "name": "reason",
              "value": "QA check failed",
              "type": "string"
            },
            {
              "id": "57d6e51c-dd7c-4950-8dea-cdc06f668db0",
              "name": "=issues",
              "value": "={{ $json.qa_result[0].content[0].text.issues }}",
              "type": "array"
            }
          ]
        },
        "includeOtherFields": "",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2720,
        96
      ],
      "id": "a189e836-7f4a-4665-bf80-d1bc4118cb97",
      "name": "QA Failed Output"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4f38203a-afe2-48b6-8d63-79d712f6f4de",
              "name": "status",
              "value": "success",
              "type": "string"
            },
            {
              "id": "3435524f-e144-43d4-82cf-e03ed5501e80",
              "name": "meeting_analysis",
              "value": "={{ $('Parse QA').item.json.meeting_analysis }}",
              "type": "array"
            },
            {
              "id": "df9223d2-b732-4b98-9166-f428e73777c6",
              "name": "deck_content",
              "value": "={{ $json.deck_content }}",
              "type": "array"
            },
            {
              "id": "e7a153c7-9fc7-4e95-8e39-f485716ae876",
              "name": "qa_result",
              "value": "={{ $json.qa_result }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2720,
        -96
      ],
      "id": "734c1e4f-9eb8-4c4c-b4ba-9bed4114f329",
      "name": "Final Output"
    },
    {
      "parameters": {
        "jsCode": "const response = $json.deck_content;\n\nif (!Array.isArray(response) || !response.length) {\n  throw new Error('deck_content is missing or not an array');\n}\n\nconst deck = response?.[0]?.content?.[0]?.text;\n\nif (!deck || typeof deck !== 'object') {\n  throw new Error('Deck payload not found at deck_content[0].content[0].text');\n}\n\nconst slides = Array.isArray(deck.slides) ? deck.slides : [];\n\nlet out = `Deck Title: ${deck.deck_title || 'Untitled'}\\n\\n`;\n\nfor (const slide of slides) {\n  out += `=== ${slide.title || 'Untitled Slide'} ===\\n`;\n\n  if (slide.subtitle) out += `${slide.subtitle}\\n`;\n\n  if (Array.isArray(slide.bullets)) {\n    out += slide.bullets.map(b => `- ${b}`).join('\\n') + '\\n';\n  }\n\n  if (Array.isArray(slide.table_rows)) {\n    for (const row of slide.table_rows) {\n      out += `- Task: ${row.task || ''} | Owner: ${row.owner || ''} | Due: ${row.due_date || ''} | Priority: ${row.priority || ''}\\n`;\n    }\n  }\n\n  out += '\\n';\n}\n\nreturn [{ json: { ...$json, deck_text: out, deck } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2928,
        -96
      ],
      "id": "9deeba06-40d1-4a7e-939f-c4ec38cb92d4",
      "name": "Format Deck Text"
    },
    {
      "parameters": {
        "jsCode": "const slides =\n  Array.isArray($json.deck?.slides) ? $json.deck.slides :\n  Array.isArray($json.deck_content?.[0]?.content?.[0]?.text?.slides)\n    ? $json.deck_content[0].content[0].text.slides\n    : [];\n\nconst titleSlide = slides.find(s => s.slide_type === 'title') || {};\nconst execSlide = slides.find(s => s.slide_type === 'executive_summary') || {};\nconst objSlide = slides.find(s => s.slide_type === 'objectives') || {};\nconst actionSlide = slides.find(s => s.slide_type === 'action_items') || {};\nconst nextSlide = slides.find(s => s.slide_type === 'next_steps') || {};\n\nconst execBullets = Array.isArray(execSlide.bullets) ? execSlide.bullets : [];\nconst objectives = Array.isArray(objSlide.bullets) ? objSlide.bullets : [];\nconst actions = Array.isArray(actionSlide.table_rows) ? actionSlide.table_rows : [];\nconst nextSteps = Array.isArray(nextSlide.bullets) ? nextSlide.bullets : [];\n\nreturn [{\n  json: {\n    ...$json,\n    placeholders: {\n      TITLE: titleSlide.title || '',\n      SUBTITLE: titleSlide.subtitle || '',\n      EXEC_BULLET_1: execBullets[0] || '',\n      EXEC_BULLET_2: execBullets[1] || '',\n      EXEC_BULLET_3: execBullets[2] || '',\n      EXEC_BULLET_4: execBullets[3] || '',\n      EXEC_BULLET_5: execBullets[4] || '',\n      OBJ_1: objectives[0] || '',\n      OBJ_2: objectives[1] || '',\n      OBJ_3: objectives[2] || '',\n      ACTION_1_TASK: actions[0]?.task || '',\n      ACTION_1_OWNER: actions[0]?.owner || '',\n      ACTION_1_DUE: actions[0]?.due_date || '',\n      ACTION_1_PRIORITY: actions[0]?.priority || '',\n      ACTION_2_TASK: actions[1]?.task || '',\n      ACTION_2_OWNER: actions[1]?.owner || '',\n      ACTION_2_DUE: actions[1]?.due_date || '',\n      ACTION_2_PRIORITY: actions[1]?.priority || '',\n      ACTION_3_TASK: actions[2]?.task || '',\n      ACTION_3_OWNER: actions[2]?.owner || '',\n      ACTION_3_DUE: actions[2]?.due_date || '',\n      ACTION_3_PRIORITY: actions[2]?.priority || '',\n      NEXT_1: nextSteps[0] || '',\n      NEXT_2: nextSteps[1] || '',\n      NEXT_3: nextSteps[2] || '',\n      NEXT_4: nextSteps[3] || '',\n      NEXT_5: nextSteps[4] || ''\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3136,
        -96
      ],
      "id": "155d2e94-9f2d-4ef6-9109-ca76b1377a03",
      "name": "Prepare Slide Placeholders"
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "value": "1vXhzzhoypMD2V5ayDzN0IB5RybMcGVAEx8XIoysc8qk",
          "mode": "id"
        },
        "name": "=output - {{ $json.meeting_analysis[0].content[0].text.meeting_title }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3344,
        -96
      ],
      "id": "09a955a8-2eeb-47a8-8dbb-e1f4f4353801",
      "name": "Copy file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "VbPjsuu0PHfkuqs9",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "replaceText",
        "presentationId": "={{ $json.id }}",
        "textUi": {
          "textValues": [
            {
              "text": "{{TITLE}}",
              "replaceText": "={{ $('Prepare Slide Placeholders').item.json.placeholders.TITLE }}"
            },
            {
              "text": "{{SUBTITLE}}",
              "replaceText": "={{ $('Prepare Slide Placeholders').item.json.placeholders.SUBTITLE }}"
            },
            {
              "text": "{{EXEC_BULLET_1}}",
              "replaceText": "={{ $('Prepare Slide Placeholders').item.json.placeholders.EXEC_BULLET_1 }}"
            },
            {
              "text": "{{EXEC_BULLET_2}}",
              "replaceText": "={{ $('Prepare Slide Placeholders').item.json.placeholders.EXEC_BULLET_2 }}"
            },
            {
              "text": "{{EXEC_BULLET_3}}",
              "replaceText": "={{ $('Prepare Slide Placeholders').item.json.placeholders.EXEC_BULLET_3 }}"
            },
            {
              "text": "{{EXEC_BULLET_4}}",
              "replaceText": "={{ $('Prepare Slide Placeholders').item.json.placeholders.EXEC_BULLET_4 }}"
            },
            {
              "text": "{{EXEC_BULLET_5}}",
              "replaceText": "={{ $('Prepare Slide Placeholders').item.json.placeholders.EXEC_BULLET_5 }}"
            },
            {
              "text": "{{OBJ_1}}",
              "replaceText": "={{ $('Prepare Slide Placeholders').item.json.placeholders.OBJ_1 }}"
            },
            {
              "text": "{{OBJ_2}}",
              "replaceText": "={{ $('Prepare Slide Placeholders').item.json.placeholders.OBJ_2 }}"
            },
            {
              "text": "{{OBJ_3}}",
              "replaceText": "={{ $('Prepare Slide Placeholders').item.json.placeholders.OBJ_3 }}"
            },
            {
              "text": "{{ACTION_1_TASK}}",
              "replaceText": "={{ $('Prepare Slide Placeholders').item.json.placeholders.ACTION_1_TASK }}"
            },
            {
              "text": "{{ACTION_1_OWNER}}",
              "replaceText": "={{ $('Prepare Slide Placeholders').item.json.placeholders.ACTION_1_OWNER }}"
            },
            {
              "text": "{{ACTION_1_DUE}}",
              "replaceText": "={{ $('Prepare Slide Placeholders').item.json.placeholders.ACTION_1_DUE }}"
            },
            {
              "text": "{{ACTION_1_PRIORITY}}",
              "replaceText": "={{ $('Prepare Slide Placeholders').item.json.placeholders.ACTION_1_PRIORITY }}"
            },
            {
              "text": "ACTION_2_TASK",
              "replaceText": "={{ $('Prepare Slide Placeholders').item.json.placeholders.ACTION_2_TASK }}"
            },
            {
              "text": "{{ACTION_2_OWNER}}",
              "replaceText": "={{ $('Prepare Slide Placeholders').item.json.placeholders.ACTION_2_OWNER }}"
            },
            {
              "text": "{{ACTION_2_DUE}}",
              "replaceText": "={{ $('Prepare Slide Placeholders').item.json.placeholders.ACTION_2_DUE }}"
            },
            {
              "text": "{{ACTION_2_PRIORITY}}",
              "replaceText": "={{ $('Prepare Slide Placeholders').item.json.placeholders.ACTION_2_PRIORITY }}"
            },
            {
              "text": "{{ACTION_3_TASK}}",
              "replaceText": "={{ $('Prepare Slide Placeholders').item.json.placeholders.ACTION_3_TASK }}"
            },
            {
              "text": "{{ACTION_3_OWNER}}",
              "replaceText": "={{ $('Prepare Slide Placeholders').item.json.placeholders.ACTION_3_OWNER }}"
            },
            {
              "text": "{{ACTION_3_DUE}}",
              "replaceText": "={{ $('Prepare Slide Placeholders').item.json.placeholders.ACTION_3_DUE }}"
            },
            {
              "text": "{{ACTION_3_PRIORITY}}",
              "replaceText": "={{ $('Prepare Slide Placeholders').item.json.placeholders.ACTION_3_PRIORITY }}"
            },
            {
              "text": "{{NEXT_1}}",
              "replaceText": "={{ $('Prepare Slide Placeholders').item.json.placeholders.NEXT_1 }}"
            },
            {
              "text": "{{NEXT_2}}",
              "replaceText": "={{ $('Prepare Slide Placeholders').item.json.placeholders.NEXT_2 }}"
            },
            {
              "text": "{{NEXT_3}}",
              "replaceText": "={{ $('Prepare Slide Placeholders').item.json.placeholders.NEXT_3 }}"
            },
            {
              "text": "{{NEXT_4}}",
              "replaceText": "={{ $('Prepare Slide Placeholders').item.json.placeholders.NEXT_4 }}"
            },
            {
              "text": "{{NEXT_5}}",
              "replaceText": "={{ $('Prepare Slide Placeholders').item.json.placeholders.NEXT_5 }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSlides",
      "typeVersion": 2,
      "position": [
        3552,
        -96
      ],
      "id": "898a8fac-6ea5-48ae-8ce0-117307588be3",
      "name": "Replace text in a presentation",
      "credentials": {
        "googleSlidesOAuth2Api": {
          "id": "kScXctgbaOkifUZ3",
          "name": "Google Slides account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        160,
        0
      ],
      "id": "470be55e-dc35-41b2-a913-f9f353bbad12",
      "name": "When clicking ‘Execute workflow’"
    }
  ],
  "pinData": {},
  "connections": {
    "Set Transcript Input": {
      "main": [
        [
          {
            "node": "AI - Meeting Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI - Meeting Analysis": {
      "main": [
        [
          {
            "node": "Parse Meeting Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Meeting Analysis": {
      "main": [
        [
          {
            "node": "AI - Deck Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI - Deck Content": {
      "main": [
        [
          {
            "node": "Parse Deck Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Deck Content": {
      "main": [
        [
          {
            "node": "AI - QA Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI - QA Check": {
      "main": [
        [
          {
            "node": "Parse QA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse QA": {
      "main": [
        [
          {
            "node": "QA Passed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "QA Passed?": {
      "main": [
        [
          {
            "node": "Final Output",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "QA Failed Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final Output": {
      "main": [
        [
          {
            "node": "Format Deck Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Deck Text": {
      "main": [
        [
          {
            "node": "Prepare Slide Placeholders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Slide Placeholders": {
      "main": [
        [
          {
            "node": "Copy file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Copy file": {
      "main": [
        [
          {
            "node": "Replace text in a presentation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Set Transcript Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "e4bb0481-e0e9-426d-b6b5-3c50e086431f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "36acc0eca3b37fdb730733bf96e286fbc26b0bff262968a4efd8d2a36d198d70"
  },
  "id": "Hy4gqxZhO6nWaev0",
  "tags": []
}